@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to the<br />
        Library Management System
    </h1>
    <p>Learn about <a href="https://github.com/MangoStunt">the developer</a>.</p>
</div>
